
<div class="col-xs-12 col-md-6 col-md-offser-3">
    <ng-container *ngIf="signupError" >
    <div class="alert alert-danger error" role="alert"  *ngFor="let err of signupError" >
        {{err}}
      </div>
    </ng-container>

  <div class="mt-3 mb-3" *ngIf="signupSuccess">
      <div class="alert alert-success success" role="alert"    >
          <p>{{signupSuccess}}</p>
      </div><br>
      <small class="text-success">Verification Email has sent to your email account please check it for activating your account</small>
  </div>

  <div class="title"  >
    <h2 *ngIf=" formStatus=='signUp' ">Register</h2>
    <h2 *ngIf="formStatus=='signIn'">Log In</h2>
  </div>

  <ng-container *ngIf="!signupSuccess">
    <form class="form-group"  [formGroup]="signUpForm" (ngSubmit)="onSignUp(signUpForm)" *ngIf="!snippingLoading  && formStatus=='signUp'">

      <label for="username"><span (click)="onSetEmailAsUsername()" [class]=" {'bold': usernameField=='email'} " >Email</span>/ <span (click)="onSetPhoneAsUsername()" [class]=" {'bold': usernameField=='phone'} " >Phone Number</span></label>


      <input type=email *ngIf="usernameField=='email'"
        formControlName= "username"
        class="form-control mt-1" 
        id="username" 
        name="username" 
        [class]="{'valid' : (signUpForm.controls.username.valid) , 'invalid': (!signUpForm.controls.username.valid && signUpForm.controls.username.touched)}"
        placeholder=user@gmail.com
        >

        <input type=text *ngIf="usernameField=='phone'"
        class="form-control mt-1" 
        formControlName= "username"
        id="username" 
        name="username" 
        [class]="{'valid' : (signUpForm.controls.username.valid) , 'invalid': (!signUpForm.controls.username.valid && signUpForm.controls.username.touched)}"
        placeholder=+989120000000
        >

      <div class="error" *ngIf="usernameField=='email'" >
        <small *ngIf="!signUpForm.controls.username.value && signUpForm.controls.username.touched"> Email is required!</small>
        <small *ngIf="signUpForm.controls.username.value && signUpForm.controls.username.errors && signUpForm.controls.username.touched" >Please enter valid email address!</small>
      </div>

      <div class="error" *ngIf="usernameField=='phone'" >
        <small *ngIf="!signUpForm.controls.username.value && signUpForm.controls.username.touched"> Phone number is required!</small>
        <small *ngIf="signUpForm.controls.username.value && signUpForm.controls.username.errors && signUpForm.controls.username.touched" >Please enter valid Phone number address!</small>
      </div>

      <div class="input-element">

        <div class="password-labeling d-flex flex-row justify-content-between">
            <label for="password"> Password</label>

            <mat-slide-toggle
            (click)="OnPasswordToggle()"
            color="primary">
            <p>Status</p>
          </mat-slide-toggle>
      </div>

        <div class="pass-input">  
            <mat-pass-toggle-visibility class="pass-visible" #toggle></mat-pass-toggle-visibility>     
            <input class="form-control mt-1 mb-2" matInput #password
                  formControlName="password"
                  [type]="toggle.type"
                  id="password"
                  [class]="{ 'invalid': (signUpForm.controls.password.errors && signUpForm.controls.password.touched ), 'valid' : !signUpForm.controls.password.pristine && ! signUpForm.controls.password.errors }"
                  >
        </div>
        <div [ngClass]=" showPasswordStatus ? 'show' : 'hide' " class="password_hint">

            <mat-password-strength #passwordComponent
                                  (onStrengthChanged)="onStrengthChanged($event)"
                                  [password]="password.value">
            </mat-password-strength>
            <!--Password's strength info-->
            <mat-password-strength-info
              *ngIf="showDetails"
              [passwordComponent]="passwordComponent">
            </mat-password-strength-info> 
        </div>
      </div>  

      <div class="input-element">
        <label for="password1">Confirm Password</label>
        <div class="pass-input">  
          <mat-pass-toggle-visibility class="pass-visible" #toggle1></mat-pass-toggle-visibility>
          <input 
              [type]="toggle1.type" 
              class="form-control mt-1" 
              id="password1" 
              formControlName="password1" 
              matInput #password1
              [class]="{ 'invalid': (signUpForm.controls.password1.errors && signUpForm.controls.password1.touched ), 'valid' : !signUpForm.controls.password1.pristine && ! signUpForm.controls.password1.errors }">
          
          
          <div class="error" *ngIf="signUpForm.controls.password1.touched 
                      && signUpForm.controls.password.touched 
                      && password.value !== password1.value" >
                <small> Password does not match </small>
          </div>
        </div>
      </div> 
        
        <button type="submit" class="btn" [disabled]="!signUpForm.valid || password.value !== password1.value ">Submit<mat-icon>arrow_forward</mat-icon></button>

        <div class="sign-in_instead" >
          <h6>Already have an account? <a (click)="changeFormToSignIn()" >Sign-in</a> instead</h6>
        </div>
        
    </form>
    <mat-spinner class="col-xs-12 col-md-6 col-md-offser-3" *ngIf="snippingLoading"></mat-spinner>
  </ng-container>


  <!-- login part -->
  <ng-container >
    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)" *ngIf="!snippingLoading && formStatus=='signIn'" >
      <div class="form-group">
          <label for="email">Email</label>
          <input type="email"
              id="email"
              placeholder="email@gmail.com" 
              class="form-control" 
              [ngClass]="{'invalid' : (loginForm.controls.email.errors && loginForm.controls.email.touched) ,'valid': (!loginForm.controls.email.errors && !loginForm.controls.email.pristine)}" 
              name="email" 
              formControlName="email">

          <div class="error" >
              <small *ngIf="!loginForm.controls.email.value && loginForm.controls.email.touched "> Email is required!</small>
              <small *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors && loginForm.controls.email.value">Please enter valid email address!</small>
          </div>
          <div class="input-element">
            <label for="password">Password</label>
            <input type="text" 
                id="password" 
                class="form-control"
                placeholder="password"
                [class]="{'invalid' : (loginForm.controls.password.errors && loginForm.controls.password.touched) ,'valid': (!loginForm.controls.password.errors && !loginForm.controls.password.pristine)}" 
                name="password" 
                formControlName="password">
                <div class="error" >
                    <small *ngIf="!loginForm.controls.password.value && loginForm.controls.password.touched" > Password is required! </small>
                </div>
          </div>
          <a>  Forgot password? </a>
          <button type="submit" class="btn" [disabled]="!loginForm.valid">LogIn<mat-icon>arrow_forward</mat-icon></button>

          <div class="sign-in_instead" >
            <h6>Don't have an account? <a (click)="changeFormToSignUp()" >Sign-up</a> instead</h6>
          </div>
      </div>
  </form>
  <mat-spinner  *ngIf="snippingLoading" ></mat-spinner>
  </ng-container>
</div>