<mat-toolbar>
  <nav class="navbar navbar-expand">
      <span class="ms-2">clothShop</span>           
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a [routerLink]="['/']" routerLinkActive mat-button>Home</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto me-3">

          <li><a class="me-2" [routerLink]="[ 'sign-up' ]" routerLinkActive> Sign Up</a></li>
          
          <li><a class="me-2" [routerLink]="[ 'login' ]" routerLinkActive> 
              <mat-icon
              class="example-icon"
              aria-hidden="false"
              aria-label="Login or Register">
              account_circle
              </mat-icon>
          </a></li>
          <li><a class="me-2" [routerLink]="['']" routerLinkActive> Sign Out</a></li>
        </ul> 
          
      </div>
  </nav>
  
  

</mat-toolbar>